dify/CRM Fetcher.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: CRM Fetcher
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.21@df95278866e58c804f16572cfd190dcfd6009a705607307c8b3054ae11640d5d
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1769736890761-source-1769679643942-target
      selected: false
      source: '1769736890761'
      sourceHandle: source
      target: '1769679643942'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1769670331100-source-1769752214068-target
      selected: false
      source: '1769670331100'
      sourceHandle: source
      target: '1769752214068'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1769752214068-false-1769670374429-target
      source: '1769752214068'
      sourceHandle: 'false'
      target: '1769670374429'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1769670374429-source-1769736890761-target
      source: '1769670374429'
      sourceHandle: source
      target: '1769736890761'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1769752214068-true-17697523307730-target
      source: '1769752214068'
      sourceHandle: 'true'
      target: '17697523307730'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17697523307730-source-1769752527315-target
      source: '17697523307730'
      sourceHandle: source
      target: '1769752527315'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1769752527315-source-1769679643942-target
      source: '1769752527315'
      sourceHandle: source
      target: '1769679643942'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: customer_name
          max_length: 60
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: customer_name
      height: 109
      id: '1769670331100'
      position:
        x: -146.16504640786292
        y: 231.54042404873553
      positionAbsolute:
        x: -146.16504640786292
        y: 231.54042404873553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: 'Retrieve customer data from CRM API

          '
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1129
        selected: false
        ssl_verify: false
        timeout:
          connect: 5
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 5
          write: 5
        title: CRM Data Fetcher
        type: http-request
        url: http://host.docker.internal:8000/crm/customer/{{#1769670331100.customer_name#}}
        variables: []
      height: 155
      id: '1769670374429'
      position:
        x: 441.1416754226085
        y: 395.60247419110607
      positionAbsolute:
        x: 441.1416754226085
        y: 395.60247419110607
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1769736890761'
          - text
          value_type: string
          variable: body
        - value_selector:
          - '1769752527315'
          - text
          value_type: string
          variable: text
        selected: false
        title: Output
        type: end
      height: 114
      id: '1769679643942'
      position:
        x: 1101.2915223219802
        y: 265.76518715917166
      positionAbsolute:
        x: 1101.2915223219802
        y: 265.76518715917166
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: qwen-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: e773a47d-d4b8-4184-a006-bfaef0ac27b8
          role: system
          text: 'You are an assistant to retrieve customer data, present the below
            customer information into a human-readable format for user to understand
            the customer. Don''t need to include introduction and follow-up wordings
            to your action, just return customer''s information.


            {{#1769670374429.body#}}'
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1769736890761'
      position:
        x: 743.1416754226085
        y: 395.60247419110607
      positionAbsolute:
        x: 743.1416754226085
        y: 395.60247419110607
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0ba71c07-07a8-4a58-a465-533e2369ce90
            value: ALL
            varType: string
            variable_selector:
            - '1769670331100'
            - customer_name
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1769752214068'
      position:
        x: 134.9522814677489
        y: 252.54042404873553
      positionAbsolute:
        x: 134.9522814677489
        y: 252.54042404873553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: 'List all customername from CRM API

          '
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1129
        selected: false
        ssl_verify: false
        timeout:
          connect: 5
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 5
          write: 5
        title: CRM List Companies
        type: http-request
        url: http://host.docker.internal:8000/crm/customers
        variables: []
      height: 136
      id: '17697523307730'
      position:
        x: 441.1416754226085
        y: 134.09271418736526
      positionAbsolute:
        x: 441.1416754226085
        y: 134.09271418736526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: qwen-flash
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: d253da73-4aa4-4eac-bbce-b50f826040ea
          role: system
          text: 'format the list of company, only return the names, nothing else

            {{#17697523307730.body#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1769752527315'
      position:
        x: 743.1416754226085
        y: 134.09271418736526
      positionAbsolute:
        x: 743.1416754226085
        y: 134.09271418736526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 174.55513649027796
      y: 137.58880981261984
      zoom: 0.8047031484491262
  rag_pipeline_variables: []
